html, body {
  margin: 0;
  padding: 0;
  
}

.App {
  padding: 20px;;
}

nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: white; 
  border-bottom: black solid 5px;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}
.rightnav{
display: flex;
align-items: center;
flex-direction: row;  
justify-content: flex-end;
}

#home-btn {
  color: black;
  text-decoration: none;
}

.indeepTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

.indeepText {
  font-family: 'Courier New', Courier, monospace;
 
}

.mb2 {
  margin-left: 10px;
  margin-right: 10px;
}

.formContainer {
  background-color: aqua;
  padding:20px;
}

.record {
  border-radius: 10px;
  border-width: solid 20px;
  border-color: cadetblue;
  background-color: chartreuse;
  padding: 20px;
  margin: 15px;
}